/* Sizes */
.button--size-s {
	font-size: 14px;
}
.button--size-m {
	font-size: 16px;
}
.button--size-l {
	font-size: 18px;
}

/* Typography and Roundedness */
.button--text-upper {
	letter-spacing: 2px;
	text-transform: uppercase;
}
.button--text-thin {
	font-weight: 300;
}
.button--text-medium {
	font-weight: 500;
}
.button--text-thick {
	font-weight: 600;
}
.button--round-s {
	border-radius: 5px;
}
.button--round-m {
	border-radius: 15px;
}
.button--round-l {
	border-radius: 40px;
}

/* Common button styles */
.button-rendex {
	font-size: 1.5em;
	// float: left;
	min-width: 150px;
	max-width: 500px;
	// display: block;
	margin: 0.7em;
	// padding: 0.6em 0.8em;
	border: none;
	background: none;
	color: inherit;
	vertical-align: middle;
	position: relative;
	z-index: 1;
	-webkit-backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  color: $primary;
	border-color: $navbar-bg;
}
.button-rendex:focus {
	outline: none;
}
.button-rendex > span {
	vertical-align: middle;
}

/* Pipaluk */
.button--pipaluk {
	// width: 240px;
	padding: 0.5em 0.9em;
	color: $primary;
}
.button--pipaluk.button--inverted {
	color: $navbar-bg;
}
.button--pipaluk::before,
.button--pipaluk::after {
	content: '';
	border-radius: inherit;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	-webkit-transition: -webkit-transform 0.3s, background-color 0.3s;
	transition: transform 0.3s, background-color 0.3s;
	-webkit-transition-timing-function: cubic-bezier(0.25, 0, 0.3, 1);
	transition-timing-function: cubic-bezier(0.25, 0, 0.3, 1);
}
.button--pipaluk::before {
	border: 2px solid $primary;
}
.button--pipaluk.button--inverted::before {
	border-color: $secondary;
}
.button--pipaluk::after {
	background: $primary;
}
.button--pipaluk.button--inverted::after {
	background: $bottom-rendex;
}
.button--pipaluk:hover::before {
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
}
.button--pipaluk::before,
.button--pipaluk:hover::after {
	-webkit-transform: scale3d(0.9, 0.7, 1);
	transform: scale3d(0.9, 0.7, 1);
}
.button--pipaluk:hover::after {
	background-color: $primary;
}
.button--pipaluk.button--inverted:hover::after {
	background-color: $primary;
}