// core overrides
$background-image1:                   url('./images/backgrounds/background01.jpg') !default;
$background-image2:                   url('./images/backgrounds/background02.jpg') !default;
$background-image3:                   url('./images/backgrounds/background03.jpg') !default;
$background-image4:                   url('./images/backgrounds/background04.jpg') !default;
$link-hover-decoration: none !default;
$primary:                             #1B6AA9;
$secondary:                           #4AC3E9;
$ternary:                             #2287a5;
$nav-item-top:                        #000000 !default;
$nav-item-hover:                      $secondary;
$bottom-rendex:                       $secondary;
$bottom-rendex-hover:                 $primary;
$navbar-brand-minimized-logo:         url('./images/logo-symbol-rendex.png') !default;
$navbar-brand-logo-fixed:             url('./images/Rendex Logo-01.png');
$navbar-brand-minimized-bg:           #fff !default;
$navbar-bg:                           #fff !default;
$rare:                                #ff00ff;