/*!
 * https://github.com/YouCanBookMe/react-datetime
 */
// Here you can add other styles
.row.container-rendex {
  margin-left: 0px;
  margin-right: 0px;
}
.col-absolute {
  position: absolute;
}
.imgPreview {
  text-align: center;
  margin: 5px 15px;
  height: 200px;
  width: 200px;
}
.imgPreviewSaved {
  text-align: center;
  margin: 5px 15px;
  height: 400px;
  width: 400px;
}
.centerImg {
  width: 200px;
  margin-left: 25%;
  height: 200px;
}
.centerImgSaved {
  width: 400px;
  height: 400px;
}
.app-header.navbar{
  padding-left: 20px;
  padding-right: 20px;
}
.app-header .navbar .navbar-admin {
  position: inherit;
}
.app-header.navbar.navbar-transparent{
  z-index: 1020;
  width: 100%;
  position: fixed;
  top: 30px;
  background: transparent;
  transition:all 0.25s linear;
}

.navbar-rendex{
  width: 100%;
  margin-left: 7%;
  margin-right: 7%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 70px;
}
.navbar-rendex-left{
  flex-direction: row;
  justify-content: flex-start;
}
.navbar-rendex-right{
  flex-direction: row;
  justify-content: flex-start;
}

#welcome-screen {
  h3 {
    color: #f5f5f5;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.8);
    margin-bottom: 2rem;
  }
}

.welcome-screen {
  background-size: cover !important;
  background-position: center !important;
  color: #f5f5f5;
  height: 600px;

  h1 {
    font-size: 2.8rem;
    font-weight: 400;
    margin-top: 10rem;
    color: #f5f5f5;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.8);
    margin-bottom: 2rem;
  }

  h3 {
    font-size: 1.8rem;
    line-height: normal;
    color: #f5f5f5;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.8);
    margin-bottom: 2rem;
    font-weight: 300;
    margin-top: 2rem;
  }
}

.welcome-screen--background-01 {
  height: 600px;
  background-image: $background-image1;
  background-size: cover;
  opacity: 1;
  transition: opacity 500ms linear;
}
.welcome-screen--background-02 {
  height: 600px;
  background-image: $background-image2;
  background-size: cover;
  opacity: 1;
  transition: opacity 500ms linear;
}
.welcome-screen--background-03 {
  height: 600px;
  background-image: $background-image3;
  background-size: cover;
  opacity: 1;
  transition: opacity 500ms linear;
}
.welcome-screen-filter {
  // background: radial-gradient(ellipse farthest-corner at center center, rgba(0,0,0,0.1) 20%, rgba(228, 225, 225, 0.5) 100%) repeat scroll 0% 0%;
	// background-image: radial-gradient(50% 83%, #ffe47a 0%, #3d7eaa 84%);
	opacity: 0.8;
}

.landing-cta-button {
  background: $bottom-rendex;
  border: none;
  // border-radius: 0px !important;
  border-radius: 5px;
  box-shadow: 0 10px 10px -10px rgba(0,0,0,0.8);
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 1.4rem;
  font-weight: 300 !important;
  margin: 0.5rem;
  padding: 1rem 2.5rem;
  -webkit-transition: background-color 0.5s ease-out;
  -moz-transition: background-color 0.5s ease-out;
  -o-transition: background-color 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.landing-cta-button:hover {
  background: $bottom-rendex-hover;
  box-shadow: 0 10px 10px -10px rgba(0,0,0,0.5);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  color: white;
  text-decoration: none;
  transform: scale(1.1);
}

.landing-section {
  h2 {
    margin-bottom: 2rem;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 0.3rem;
    margin-top: 2rem;
    color: inherit;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    display: block;
  }

  h3 {
    color: #636363;
    font-weight: 500;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
		padding-left: 50px;
		padding-right: 50px;
    font-weight: 300;
    line-height: 1;
    margin-top: 2rem;
    margin-bottom: 1.6rem;
  }

  // .text-center {
  //   margin-bottom: 50px;
  // }
}

.landing-investment {
  background: #e6e1e1;
  background-size: cover;
  background-position: center;
  height: 100%;
}

.investment-data {
  img {
    display: block;
    margin: 0 auto;
    padding-bottom: 1rem;
    width: 40%;
    vertical-align: middle;
    border: 0;
    box-sizing: border-box;
  }
}

.investment-data-text {
  font-size: 1.2rem;
  font-weight: 400;
  text-align: center;
  margin-bottom: 0;
  margin: 0 0 10px;
  box-sizing: border-box;
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.investment-data-number {
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
  margin-bottom: 1rem;
  margin: 0 0 10px;
  box-sizing: border-box;
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.landing-projects {
  .landing-profitable-graphic {
    background: white;
    height: inherit;
  }
  .row {
    margin-right: 0px;
    margin-left: 0px;
  } 
  .project-photo {
    border-radius: 6px 6px 0 0;
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 210px;
  }
  .project-item-container {
    width: 30.63333333%;
    h4 {
      font-weight: 300;
      width: 100%;
      margin-top: 1rem;
    }
  }
  .projects {
    position: relative;

    .label-tag {
      top: 0;
      padding: 5px 5px 0 0;
      position: absolute;
      right: 0;
      width: 170px;
    }
  }
  .features {
    margin-bottom: 50px;
  }
}

.landing-how-works {
  height: 100%;

  .text-center {
    margin-bottom: 50px;
  }
  h2 {
    font-weight: 600;
    line-height: 1;
    margin-bottom: 0.3rem;
    margin-top: 2rem;
	}
	p {
		font-weight: 400;
	}
}

.footer {
  background: $bottom-rendex-hover;
  font-size: 14px;
  padding: 50px 0;

  ul {
    list-style: none;
    color: #f5f5f5;
    padding-left: 0;
  }

  li {
    box-sizing: border-box;
    display: list-item;
    text-align: -webkit-match-parent;

    strong {
      font-weight: bold;
    }
    a {
      color: #f5f5f5;
      text-decoration: none;
      -webkit-transition: background-color 0.5s ease-out;
      -moz-transition: background-color 0.5s ease-out;
      -o-transition: background-color 0.5s ease-out;
      transition: color 0.5s ease-out;
      background-color: transparent;
      box-sizing: border-box;
    }
  }
}

.footer__social-bar {
  padding: 1rem 0;

  ul {
    border-top: 1px solid $bottom-rendex;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    float: left;
    border-bottom: 3px solid $bottom-rendex-hover;
    padding-top: 20px;

    a {
      color: #f5f5f5;
      text-decoration: none;
      -webkit-transition: background-color 0.5s ease-out;
      -moz-transition: background-color 0.5s ease-out;
      -o-transition: background-color 0.5s ease-out;
      transition: color 0.5s ease-out;
    }
  }

  img {
    width: 40px;
  }
}

.site-header-background {
  background: $background-image4 no-repeat center;
  background-size: cover;
  height: 100%;
  .container {
    margin-top: 150px;
  }
  .card {
    border-radius: 10px;
  }
}
.card-rounded {
  .card {
    border-radius: 10px;
  }
}
.sign-up-text {
  color: white;
  h1 {
    font-size: 4rem;
    text-shadow: 4px 4px 30px black;
    margin-bottom: 1.5rem;
    margin-top: 0;
    font-weight: 300;
    line-height: 1;
  }
  h2 {
    font-size: 2rem;
    text-shadow: 4px 4px 30px black;
    font-weight: 300;
    line-height: 1;
    margin-bottom: 0.3rem;
    margin-top: 2rem;
  }
  h3 {
    padding-top: 120px;
    font-size: 1.75rem;
    text-shadow: 4px 4px 30px black;
    font-weight: 300;
    line-height: 1;
    margin-bottom: 0.3rem;
    margin-top: 2rem;
  }
  a {
    color: white;
    box-sizing: border-box;
    font-size: 1rem;
    font-weight: 300;
  }
  a:hover, a:focus {
    text-decoration: underline;
  }
}

.btn-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}

.project-index {
  .main-title {
    margin-bottom: 40px;
    text-align: center;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 1rem;
    font-weight: 300;
    h2 {
      color: #122454;
      font-size: 2.4rem;
      line-height: 1.2;
      // margin-top: 6rem;
      font-weight: 300;
      margin-bottom: 0.3rem;
    }
    h3 {
      font-size: 1.5rem;
      font-weight: 300;
      margin-bottom: 1rem;
      margin-top: 1rem;
      line-height: 1;
    }
  }
  .project {
    border: 1px solid #ddd;
    border-radius: 6px;
    margin-bottom: 40px;

    .project-photo {
      border-top-right-radius: 0;
      border-bottom-left-radius: 6px;
      border-top-left-radius: 6px;
      background-color: white;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;

      .sticker {
        position: absolute;
        right: 5px;
        top: 5px;
        width: 170px;
      }
    }

    .logo-and-address {
      background-color: inherit;
      border-bottom: none;
      margin-top: 0;
      margin-bottom: 1rem;
      padding-top: 0.5rem;
      padding-bottom: 0;

      img {
        width: 4rem;
        height: 4rem;
        background-color: white;
        // border-radius: 1rem;
        border-collapse: separate;
        // border-color: #000;
        // -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
        // -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
        // box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
        // margin-left: 10px;
      }

      h2 {
        white-space: nowrap;
        font-size: 2rem;
      }
      .media-heading {
        font-weight: 600;
        margin-bottom: 2px;

        a {
          color: #122454;
        }
      }
      p {
        display: block;
        font-size: 1rem;
        font-weight: 300;
        display: block;
        -webkit-margin-before: 1em;
        -webkit-margin-after: 1em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
        margin-bottom: 0px;
        margin-top: 0px;
      }
    }
    .media-middle {
      vertical-align: middle;
      display: table-cell;
      padding-right: 10px;
    }
    .media-body {
      display: table-cell;
      vertical-align: top;
      width: 10000px;
      zoom: 1;
      overflow: hidden;
    }
    .more {
      padding: 1rem 0.2rem 0 0.2rem;
      margin-right: 10px;
    }
  }
}
.input-group-addon {
  border-radius: 10px 0px 0px 10px;
  background: transparent;
  border-right: 1px solid #c2cfd6;
  font-size: 1.1rem;
  color: $bottom-rendex-hover;
}
.input-group .form-control{
  border-radius: 0px 10px 10px 0px;
  border-left: 0px solid #c2cfd6;
}
::-webkit-input-placeholder {
  padding-left: 20px;
}

:-moz-placeholder { /* Firefox 18- */
  padding-left: 20px;
}

::-moz-placeholder {  /* Firefox 19+ */
  padding-left: 20px;
}

:-ms-input-placeholder {
  padding-left: 20px;
}

.btn-success {
  border-radius: 10px;
  border-color: $bottom-rendex;
  background-color: $bottom-rendex;
}
.btn-success:hover {
  background-color: $bottom-rendex-hover;
  background-color: $bottom-rendex-hover;
}

article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}body{margin:0;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;margin:0.67em 0;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:bold;}dfn{font-style:italic;}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace,serif;font-size:1em;}pre{white-space:pre-wrap;}q{quotes:"\201C" "\201D" "\2018" "\2019";}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-0.5em;}sub{bottom:-0.25em;}img{border:0;}svg:not(:root){overflow:hidden;}figure{margin:0;}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em;}legend{border:0;padding:0;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,select{text-transform:none;}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;}button[disabled],html input[disabled]{cursor:default;}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}

.container {
  max-width: 100%;
  padding-left: 0px;
  padding-right: 0px;
}

.image-opacity {
  // opacity: 0.5;
}

.sidebar-fixed .sidebar {
  top: 70px;
}

.slick-prev:before, .slick-next:before{
	color: $bottom-rendex-hover;
}

.table th, .table td{
  padding: 0px;
}

.advantage-rendex {
  img {
    max-height: 100px;
    max-width: 100px;
  }
}

.app-header.navbar-admin {
  top: 0px;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.intro-effect-sliced .app-header {
  .dropdown {
    .dropdown-toggle::after {
      margin-left: 0.4em;
      vertical-align: 0.1em;
      border-top: 0.4em solid;
    }
    .active.dropdown-toggle{
      color: $white;
    }
    .active.dropdown-toggle:hover{
      color: $white;
    }
    .btn-secondary {
      color: $white;
      font-size: 1.25rem;
      background-color: transparent;
      border-color: $white;
      border-radius: 10px;
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 5px;
      padding-bottom: 5px;
    }
    .dropdown-menu {
      border-radius: 5px;
    }
    .dropdown-item {
      font-size: 1.25rem;
    }
  }
}

.intro-effect-sliced.modify .app-header {
  .dropdown {
    .active.dropdown-toggle:hover{
      color: $primary;
    }
    .btn-secondary {
      color: $primary;
      border-color: $primary;
    }
  }
}

.app-header.navbar.navbar-admin {
  .navbar-brand {
		background-image: $navbar-brand-logo-fixed;
	}	
}