
@-webkit-keyframes icon-animate {
  from {
    background-position: center top; }

  to {
    background-position: center -9400px; } }

@-moz-keyframes icon-animate {
  from {
    background-position: center top; }

  to {
    background-position: center -9400px; } }

@keyframes icon-animate {
  from {
    background-position: center top; }

  to {
    background-position: center -9400px; } }

.icon-animated {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: inline-block;
  background-size: 200px 9600px;
  background-position: center top;
  background-repeat: no-repeat;
  margin: 20px;
  background-color: white;
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  cursor: pointer;

  -webkit-animation: icon-animate 2s steps(47) infinite;
    -moz-animation: icon-animate 2s steps(47) infinite;
    animation: icon-animate 2s steps(47) infinite;
    
  }    
  .icon-animated.bullseye {
    background-image: url("./images/bullseye.png");
    background-color: transparent; 
  } 
    @media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
      .icon-animated.bullseye {
        background-image: url("./images/bullseye@2x.png"); } }
  .icon-animated.cogs {
    background-image: url("./images/cogs.png");
    background-color: transparent; 
  }
    @media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
      .icon-animated.cogs {
        background-image: url("./images/cogs@2x.png"); } }
  .icon-animated.lightbulb {
    background-image: url("./images/lightbulb.png");
    background-color: transparent;
  }
    @media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
      .icon-animated.lightbulb {
        background-image: url("./images/lightbulb@2x.png"); } }
  .icon-animated.chat {
    background-image: url("./images/chat.png");
    background-color: transparent; 
  }
    @media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
      .icon-animated.chat {
        background-image: url("./images/chat@2x.png"); } }
  .icon-animated.phone {
    background-image: url("./images/phone.png");
    background-color: transparent; 
  }
    @media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
      .icon-animated.phone {
        background-image: url("./images/phone@2x.png"); } }
  .icon-animated.trophy {
    background-image: url("./images/trophy.png");
    background-color: transparent; 
  }
    @media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
      .icon-animated.trophy {
        background-image: url("./images/trophy@2x.png"); } }
  .icon-animated.search {
    background-image: url("./images/search.png");
    background-color: transparent; 
  }
    @media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
      .icon-animated.search {
        background-image: url("./images/search@2x.png"); } }
  .icon-animated.love {
    background-image: url("./images/love.png");
    background-color: transparent;
  }
    @media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
      .icon-animated.love {
        background-image: url("./images/love@2x.png"); } }
  .icon-animated.map {
    background-image: url("./images/map.png");
    background-color: transparent; 
  }
    @media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
      .icon-animated.map {
        background-image: url("./images/map@2x.png"); } }
  .icon-animated.piggybank {
    background-image: url("./images/piggybank.png");
    background-color: transparent; 
  }
    @media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
      .icon-animated.piggybank {
        background-image: url("./images/piggybank@2x.png"); } }