.ribbon {
  position:relative;
}
.ribbon:before {
  content: "AAAAAAAAAAAAAA";
  position: absolute;
  top: 5px;
  left: -3px;
  font-size: 13px;
  padding-right: 10px;
  color: #ffffff;
  font-weight: 400;
  border-width: 11px;
  border-style: solid;
  border-color: #FB9230 transparent #FB9230 #FB9230;
  border-image: none;
  line-height: 0px;
  box-shadow: 0px 5px 5px -5px #000;
  z-index: 1;
  border-radius: 5px;
}

.ribbon-waiting {
  position:relative;
}
.ribbon-waiting:before {
  content: "Esperando inversionistas";
  position: absolute;
  top: 5px;
  left: -3px;
  font-size: 13px;
  padding-right: 10px;
  color: #ffffff;
  font-weight: 400;
  height: 0px;
  border-width: 11px;
  border-style: solid;
  border-color: #66A4D6 transparent #66A4D6 #66A4D6;
  border-image: none;
  line-height: 0px;
  box-shadow: 0px 5px 5px -5px #000;
  z-index: 1;
  border-radius: 5px;
}

.ribbon-fund {
  position:relative;
}
.ribbon-fund:before {
  content: "Fondeo completo";
  position: absolute;
  top: 5px;
  left: -3px;
  font-size: 13px;
  padding-right: 10px;
  color: #ffffff;
  font-weight: 400;
  height: 0px;
  border-width: 11px;
  border-style: solid;
  border-color: #98C46F transparent #98C46F #98C46F;
  border-image: none;
  line-height: 0px;
  box-shadow: 0px 5px 5px -5px #000;
  z-index: 1;
  border-radius: 5px;
}

.ribbon-generating {
  position:relative;
}
.ribbon-generating:before {
  content: "Generando retornos";
  position: absolute;
  top: 5px;
  left: -3px;
  font-size: 13px;
  padding-right: 10px;
  color: #ffffff;
  font-weight: 400;
  border-width: 11px;
  border-style: solid;
  border-color: #FB9230 transparent #FB9230 #FB9230;
  border-image: none;
  line-height: 0px;
  box-shadow: 0px 5px 5px -5px #000;
  z-index: 1;
  border-radius: 5px;
}

.ribbon-finished {
  position:relative;
}
.ribbon-finished:before {
  content: "Proyecto finalizado";
  position: absolute;
  top: 5px;
  left: -3px;
  font-size: 13px;
  padding-right: 10px;
  color: #ffffff;
  font-weight: 400;
  border-width: 11px;
  border-style: solid;
  border-color: #FFD200 transparent #FFD200 #FFD200;
  border-image: none;
  line-height: 0px;
  box-shadow: 0px 5px 5px -5px #000;
  z-index: 1;
  border-radius: 5px;
}